*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.task{
    width: 750px;
    margin: 50px auto;
    padding: 25px;
    background-color: blanchedalmond;
}
.header .first{
   width: 70%;
    display: inline-block;
    margin-bottom: 50px;
    
}
.first h1{
    font-size: 45px;
}

.header .img{
    display: inline-block;
}
.header .img img{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    
    
   
}
.main{
    width: 100%;
    
}
.main p {
    margin: 20px auto;
}
.main h3{
    color: rgb(25, 153, 232);
    margin: 20px auto;
}
.main h4{
    margin: 20px auto;
}
.left, .right{
    padding-left: 10px;
}
.left{
    display: inline-block;
    width: 55%;
    border-left: 2px dashed gray;
  
}
.right{
    display: inline-block;
    width: 42%;

    border-left: 2px dashed gray;
}
.cls{
    margin-bottom: 40px;
}
.big{
    font-weight: 600;
}